<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="/" class="flex items-center py-4 px-2">
            <img src="assets/images/wallam.png" alt="Logo" class="h-8 w-8 mr-2">
            <span class="font-semibold text-green-500 text-lg">WALLAM</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="/how_it_works" class="py-4 px-2  font-2xl text-dark-500 font-semibold hover:text-green-500 transition duration-300">Comment ça marche?</a>
        </div>
    

      </div>
      <!-- Secondary Navbar items -->
      <div class="hidden md:flex items-center space-x-3 ">
      
        <a class="py-3 px-6 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300"><button (click)="logout()">Deconnexion</button>
          </a> 
       
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
        <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
          x-show="!showMenu"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      </div>
    </div>
  </div>
  <div class="hidden mobile-menu">
    <ul class="">
      <li ><a href="/how_it_works" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Comment ça marche?</a></li>
      

     
        <li ><a href="/login" class="block text-sm py-4 px-2 mt-1 font-medium text-white bg-green-500 rounded hover:bg-green-500 hover:text-white ">Se connecter</a> </li>    

    </ul>
  </div>
  
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>