.modal {
  z-index: 10000; /* Adjust the value as needed */
}

.modal-content {
  color: #ec0f0f; /* Adjust the text color as needed */
  background-color: #d21111; /* Adjust the background color as needed */
}